/* Base */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
* {outline:none;}
html, body {height: 100%;}
body {font-family: 'Open Sans', sans-serif;font-size: 13px;line-height: 1.6;color: #8c8c8c;background-color: #fff;}
h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', sans-serif;}
a {color: #404040;}
a:hover {color: #404040;transition-property: all;transition-duration: 0.3s;transition-timing-function: linear;}
a.none:hover {text-decoration: none;}
.right-div { float: right; margin-bottom: 50px;};

/* Header */
.top {background-color: #404040 !important;padding: 5px 0;color: #fff;}
.top p {margin: 0;}
.top ul {margin: 0;padding: 0;}
.top li i {color: #fff;}
.top li a {color: #fff;}
.top li a:hover {text-decoration: none;}
.top li a:hover,.top li a:hover i {color: #005FA6;transition-property: all;transition-duration: 0.3s;transition-timing-function: linear;}

/* Navigation */
.navbar {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;margin-bottom: 0;}
.navbar .container {position: relative;}
.navbar-default {-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;transition: all 0.3s ease-out;width: 100%;border: none;border-bottom: 1px solid #e7e7e7;background-color: #044d29}
.navbar-default .navbar-nav > li > a {color: #fff;font-weight: normal;font-size: 13px;}
.navbar-default .navbar-nav > li > a:hover {background-color: transparent;color: #005FA6;}
.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {background-color: transparent;color: #005FA6;}
.navbar-default .navbar-nav .active > a,.navbar-default .navbar-nav .active > a:hover,.navbar-default .navbar-nav .active > a:focus {color: #005FA6;background-color: transparent;}
.navbar-default .navbar-toggle {margin: 10px 0 0 15px;}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {border: none;background: #f3f3f3;}
.navbar-default .navbar-toggle i {font-size: 31px;}
.navbar-default .navbar-collapse {float: right;border-top: none;padding-left: 0;padding-right: 0;}
.navbar-brand>img {padding: 5px;}
.navbar-toggle {background: #044d29 !important;}


@media screen and (max-width: 768px) {.navbar-default .navbar-collapse {padding-left: inherit;padding-right: inherit;}}
@media screen and (max-width: 992px) {.navbar-default .navbar-collapse {width: 100%;margin-left: 0;margin-right: 0;max-height: none;}}
@media (min-width:768px) {.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {margin-left: 0;}}

.main-navbar-nav {-moz-transition: all 0.3s linear;-o-transition: all 0.3s linear;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;}
.main-navbar-nav > li > a {padding-top: 30px;padding-bottom: 30px;line-height: 1;}
.main-navbar-nav li > .dropdown-menu {-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;transition: all 0.3s ease-out;min-width: 225px;border: none;border-top: 2px solid #005FA6;}
.main-navbar-nav li > .dropdown-menu > li > a {padding: 10px;position: relative;color: #404040;line-height: 1.12857143;font-size: 12px;}
.main-navbar-nav li > .dropdown-menu > li > a:hover,.main-navbar-nav li > .dropdown-menu > li > a:focus {color: #005FA6;background-color: transparent;}
.main-navbar-nav li > .dropdown-menu > li > a i {position: absolute;right: 20px;top: 50%;margin-top: -8px;font-size: 16px;}
.site-main { margin-top: 74px; }
@media screen and (min-width: 993px) {.main-navbar-nav .dropdown:hover > .dropdown-menu {display: block;}.main-navbar-nav .dropdown:hover > .dropdown-menu .dropdown:hover .dropdown-menu {left: 225px;top: 0;margin-top: -2px;}}
@media screen and (max-width: 992px) {.main-navbar-nav > li {border-bottom: 1px solid #f3f3f3;}.main-navbar-nav > li:last-child {border-bottom: none;}.main-navbar-nav > li > a {padding-top: 12px;padding-bottom: 12px;}}

.navbar-brand {height: auto;padding: 0;}

@media screen and (max-width: 992px) {.navbar-toggle {display: block;}.navbar-collapse.collapse {display: none !important;}.main-navbar-nav.navbar-nav,.main-navbar-nav.navbar-nav > li {float: none !important;}.navbar-collapse.collapse.in {display: block !important;overflow-y: auto !important;}}

/* Hero */
.hero_area {background: url(img/main-background-2.jpg) no-repeat center fixed;;background-size: cover;height:100%;;padding: 0;z-index: -1}
.hero_content {padding: 280px 0;}
.hero_content h1 {color: #fff;font-weight: 700;font-size: 42px;text-transform: uppercase}
.hero_content h2 {text-shadow: 1px 1px 2px rgba(0,0,0,0.25);color: #000;font-weight: 700;font-size: 32px;margin-top: 0;width: 45%;line-height: 38px;}
.hero_logo img {width:40%}


/* Product */
.product-area {margin: 100px 0px; }
.product-main{background: url(img/main-background-2.jpg) no-repeat center;;background-size: cover;height:100%;;padding: 0;z-index: -1}
.product-main > .section-title {color: #fff}
.main-product-list{list-style: none; background-color: #044d29c7; padding: 10px; color: #fff;}
.main-product-list li > h2 {color: #fff}
.product_content h2 {position: relative;font-size: 17px;font-weight: 600;color: #404040;margin-bottom: 30px;}
.product-title {margin-bottom: 0px !important;}
hr { margin-top: 10px;}
.product-list {background: #eeee;}
.product-list-item {padding: 15px;}
.pl-name  {text-align: left; font-weight: 600; border-bottom: 1px solid rgb(194, 194, 194); padding: 5px 0; }
.pl-name h2 {margin: 0;padding: 5px 0; }
.pl-list {color:#000;}
.pl-txt {border-top: 1px solid rgb(194, 194, 194);}
.pl-txt p { text-align: left !important;}

/* Contact */
.contact-area {background: url(img/main-background-2.jpg) no-repeat center;;background-size: cover;height:300px;padding: 0;z-index: -1}
.contact_content h1 {padding-top: 70px; text-align: center;color: #fff;text-transform: uppercase}
#okButton {padding: 10px; border: 1px solid white; background: transparent; font-size: 18px; text-align: center; color: white; text-transform: uppercase; cursor: pointer; transition: ease, 0.5s; margin-left: 15px; }
#name { padding: 10px 0; width: 300px; background: transparent; border: none; border-bottom: 1px solid white; color: white; font-size: 18px; margin: 0 5px; }
#phone { padding: 10px 0; width: 300px; background: transparent; border: none; border-bottom: 1px solid white; color: white; font-size: 18px; margin: 0 5px; }
.contact-form {    text-align: center;}
/* Boxes */
.boxes_area {padding-top: 40px;padding-bottom: 10px;padding-left: 0;padding-right: 0;background-color: #f8f8f8;}
.box {position: relative;}
.box h3 {position: relative;margin-bottom: 20px;padding-bottom: 20px;}


/* Home */
.home_content h2:after,.box h3:after {content: '';position: absolute;width: 30px;background-color: #005FA6;height: 2px;left: 0;bottom: 0;}
.box i {position: absolute;right: 0;top: 0;margin: 0;color: #005FA6;font-size: 45px;}
.boxes_area h3 {font-size: 16px;font-weight: 500;margin-top: 0;margin-bottom: 18px;}
.about {padding-top: 50px;padding-bottom: 50px;}
h2.section-title {text-align: center;color: #044d29;text-transform: uppercase}
.about_txt {text-align: justify;color: gray;font-size: 18px;line-height: 1.5;margin-top: 20px;}
.about p.desc {text-align: center;font-size: 13px;margin-bottom: 20px;}
.about .media {margin-top: 30px;}
.about .media i {font-size: 45px;color: #005FA6;}
.about .media h4 {font-size: 15px;font-weight: 600;color: #404040;}
.about .media p {text-align: left;}

/* News */
.home-area {padding-bottom: 50px; padding-top: 15px; background: #eeee;}
.home_content h2 {position: relative;font-size: 17px;font-weight: 600;padding-bottom: 20px;color: #404040;margin-bottom: 30px;}
.home_list ul {margin: 0;padding: 0;float: left;width: 100%;}
.home_list ul li {list-style: none;}
.home_list .thumbnail {border: none;padding: 0;}
.thumbnail {background-color: #eeee }
.thumbnail .caption {padding: 9px;color: #404040;padding-left: 0;padding-right: 0;}
.home_list h3 {font-size: 16px;font-weight: 600;margin-top: 10px;margin-bottom: 10px;color: #404040;}
.home_list p {color:#000; text-align: center}
.home_list a.btn {font-size: 13px;padding: 0;color: #005FA6;}
.home_bottom .row {margin-left: -5px;margin-right: -5px;}
.home_bottom div[class*="col-"] {padding-right: 5px;padding-left: 5px;position: relative;}

/* References */
.carousel-control{ width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:0;background-image:none;}

@media (max-width: 767px) {.carousel-inner .active.left {left: -100%;}.carousel-inner .next {left: 100%;}.carousel-inner .prev {left: -100%;}.active > div {display:none;}.active > div:first-child {display:block;}}
@media (min-width: 767px) and (max-width: 992px ) {.carousel-inner .active.left {left: -50%;}.carousel-inner .next {left:  50%;}.carousel-inner .prev {left: -50%;}.active > div {display:none;}.active > div:first-child {display:block;}.active > div:first-child + div {display:block;}}
@media (min-width: 992px ) {.carousel-inner .active.left {left: -25%;}.carousel-inner .next {left: 25%;}.carousel-inner .prev {left: -25%;}}

/* Footer */
footer.site-footer {background: #044d29;padding: 20px 0 0;float: left;width: 100%;}
footer.site-footer h3 {color: #fff}
footer.site-footer ul {padding-left: 0;margin-bottom: 20px;list-style: none;color: #fff;}
footer.site-footer ul a {color: #fff;font-size: 13px;}
footer.site-footer p {font-size: 13px;}
footer.site-footer p a {color: #fff;}

p.text {color: #fff;}
#copyright {background: #033d20 ;color: #fff;padding: 15px 0;font-size: 12px;margin-top: 20px;text-align: center;}
#copyright p, #copyright ul {margin: 0;float: left;font-size: 12px;}
#copyright a {color: #fff;font-size: 12px;}
.site-footer li a:hover {color:#005FA6;}
ul.big li {float: left;width: 49%;}
ul.big li:nth-child(2n) {margin-left: 2%;}

@media (max-width:462px) {.fbox:last-child {margin-top: 20px;float: left;width: 100%;}}

/* Responsive */
@media screen and (max-width:462px) {
    .top {text-align: center;}.top ul.list-inline{float: none !important;text-align: center;}
    .hero_content {padding: 260px 0;}
    .hero_content h1 {font-size: 32px;}
    .hero_content h2 {width: 90%;font-size: 21px;}
    /*.boxes_area .row {margin-left: -20px;margin-right: -20px;}*/
    .boxes_area .box p {margin-bottom: 30px;}
    .about .media .media-left {padding-right: 15px;}
    
    .category-content .media-body {float: left;position: relative;width: 100%;}
    .category-content .media-body h3 {margin-top: 20px;}
    .category-main .meta {position: relative;width: 100%;}
    .category-main .meta .pull-left {margin-left: 40px;}
    .category-main .meta .pull-right {display: none;}
    .bread_area {margin-top: 120px;}
    .sidebar {margin-top: 40px;}
}
@media (min-width:463px) and (max-width:768px) {
    .fbox {float: left;}
    .fbox:nth-child(3) {float: right !important;}
    .hero_content {padding: 160px 0;}
}